{% extends 'base.html' %}

{% block ForChildContent %}
<html>
    <title>Journey To Malasiya</title>
<head>{% load static %}
<link rel="stylesheet" href="{% static 'Pages/css/StP.css'%}" ></head>
<body>
<h1 class="A">My journey to Malaysia</h1>
<div class="carousel-inner py-4">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <img
                src="{% static 'Pages\img\6127869488_350c6a3081_b.jpg' %}"
                class="card-img-top"
              />
              <div class="card-body">
                <h5 class="card-title">Perhentian Islands</h5>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="{% static 'Pages\img\Gunung-Mulu-National-Park-1024x682.jpg' %}"
                class="card-img-top"
              />
              <div class="card-body">
                <h5 class="card-title">Gunung Mulu National Park</h5>
              </div>
            </div>
          </div>
          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="{% static 'Pages\img\Sipadan-Kapalai-Dive-Resort-Semporna-Sabah-Malaysia-Wallpaper-Widescreen-HD-1920x1080-1680x1050.jpg' %}"
                class="card-img-top"
              />
              <div class="card-body">
                <h5 class="card-title">Sipadan Island</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-inner py-4">
        <!-- Single item -->
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-lg-4">
                <div class="card">
                  <img
                    src="{% static 'Pages\img\bdfeba21dd771f4ae34da7ed7ae56a3f.jpg' %}"
                    class="card-img-top"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Mount Kinabalu</h5>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 d-none d-lg-block">
                <div class="card">
                  <img
                    src="{% static 'Pages\img\standard.jpg' %}"
                    class="card-img-top"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Penang Hill</h5>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 d-none d-lg-block">
                <div class="card">
                  <img
                    src="{% static 'Pages\img\272A1107-min-scaled.jpg' %}"
                    class="card-img-top"
                  />
                  <div class="card-body">
                    <h5 class="card-title">Langkawi SkyCab</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-inner py-4">
            <!-- Single item -->
            <div class="carousel-item active">
              <div class="container">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="card">
                      <img
                        src="{% static 'Pages\img\41358144500_09c80c9fc6_b.jpg' %}"
                        class="card-img-top"
                      />
                      <div class="card-body">
                        <h5 class="card-title">Bako National Park</h5>
                      </div>
                    </div>
                  </div>
        
              
                   
</body></html>
{% endblock %}